html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.container {
    font-family: 'Shadows Into Light', cursive;

  width: 100%;
}

.page-header{
  font-family: 'Shadows Into Light', cursive;
  color: white;
  background-color: #4D525B;
  height: 60px;
  width: 100%;
  margin-top: 0px;
}

h2{
  font-size: 16px;
}

select{
  font-family: 'Shadows Into Light', cursive;
}

.col-md-3.card{
  height: 200px;
  border-radius: 0px;
}

#edit-button{
  margin-top: 50px;
}

.left-column>.left>.card {
  background-color: #F16361;
}

.right-column>.left>.card {
  background-color: #94C73E;
}

.center-column>.left>.card {
  background-color: #5BC7E1;
}
.left-column>.left>.col-md-3>#queue{
  display: none
}
.center-column>.left>.col-md-3>#progress{
  display: none
}
.right-column>.left>.col-md-3>#done{
  display: none
}


.left-column {
}

.right-column {
}

.col-md-4 {

}

h3 {
  font-size: 15px;
  font-color: grey;
  margin-left: 150px;
}

.col-md-3 {
  width: 250px;
  height: 100px;
}
.modal-example {
  margin-top: -37px;
    font-family: 'Shadows Into Light', cursive;
}
.modalStyle{
  position: 'absolute';
  width: 400;
  transform: `translate(-${top}%, -${left}%)`;
  border: '1px solid #e5e5e5';
  backgroundColor: 'white';
  boxShadow: '0 5px 15px rgba(0,0,0,.5)';
  padding: 20;
  margin: 200;

}
input{
  font-family: 'Shadows Into Light', cursive;
}
button{
  font-family: 'Shadows Into Light', cursive;
}
